@charset "UTF-8";

@import "reset";
@import "fonts";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* variables */

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$color-text: rgba(#000, .87);
$color-bg: #FFF;

/* helpful classes */

.clearfix {
  &:after { content: ""; display: table; clear: both; }
}

.material-icons, .icon-left:before, .icon-right:after { font-family: 'Material Icons', 'Material Icons Local'; }

.material-icons { font-weight: normal; font-style: normal; font-size: 24px; display: inline-block;
  width: 1em; height: 1em; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal;
  -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; font-feature-settings: 'liga';
}

/* common styles */

* { box-sizing: content-box; }
#page {
  *, *:before, *:after { box-sizing: border-box; }
}

body { font-family: $font-family; font-size: $font-size; line-height: 1.5; color: $color-text; background: $color-bg; }

a { text-decoration: none; color: $color-text; }



/* layout */

#page { position: relative; display: none;
  .page-loaded & { display: block; }
}
#navbar { position: absolute; z-index: 11; top: 0; left: 0; right: 0; height: 64px; padding: 8px 12px;
  background: rgba($color-bg, .5); display: flex; justify-content: space-between; align-items: center;
}

#footer { position: absolute; z-index: 11; bottom: 0; left: 0; right: 0; height: 64px; }

.navbar-title {
  .title-group { display: flex; align-items: center; }
  .logo { width: 24px; height: 24px; background: url('../img/graphic.svg') no-repeat; margin-right: 8px; }
  .map-msk & .logo { background-position: 0 0; }
  .map-spb & .logo { background-position: -24px 0; }
  .map-mnk & .logo { background-position: -48px 0; }
  .map-cph & .logo { background-position: -72px 0; }
  .map-title { font-weight: 500; }
  @media (min-width: 350px) {
    .logo { margin-right: 12px; margin-left: 8px; }
    .logo { width: 32px; height: 32px; background-size: auto 64px; }
    .map-spb & .logo { background-position: -32px 0; }
    .map-mnk & .logo { background-position: -64px 0; }
    .map-cph & .logo { background-position: -96px 0; }
  }
  @media (min-width: 380px) {
    .map-title { font-size: 18px; }
  }
}

.menu-icon { display: inline-block; width: 32px; height: 32px; margin: 8px 0 8px 6px; padding: 4px; color: $color-text; background: $color-bg; border-radius: 50%;
  &:before { @extend .material-icons; display: block; width: 24px; height: 24px; content: 'more_vert'; }
  @media (min-width: 350px) {
    & { margin-right: 8px; margin-left: 8px; }
  }
}

#options-menu { right: 12px; margin-top: 8px; width: 220px;
  .current { pointer-events: none; font-weight: 500; border-bottom: 1px solid rgba(#000, 0.12); margin-bottom: 8px; padding-bottom: 8px; }
  .disabled { pointer-events: none; opacity: 0.5; }
}
.lang-ru .switch-na { display: none; }
.lang-by .switch-na { display: none; }
.lang-da .switch-na { display: none; }
.lang-en .switch-en { display: none; }

.menu-item-msk, .menu-item-spb, .menu-item-mnk, .menu-item-cph, .menu-item-download, .menu-item-metro2, .switch-en, .switch-na {
  .menu-dropdown li & { display: flex; align-items: center; }
}
.menu-item-msk, .menu-item-spb, .menu-item-mnk, .menu-item-cph {
  &:before { display: block; content: ''; width: 24px; height: 24px; background: url('../img/graphic.svg') no-repeat; margin-right: 12px; }
}
.menu-item-spb:before { background-position: -24px 0; }
.menu-item-mnk:before { background-position: -48px 0; }
.menu-item-cph:before { background-position: -72px 0; }

.menu-item-download, .menu-item-metro2 {
  &:before { @extend .material-icons; display: block; width: 24px; height: 24px; color: rgba(#000, .5); margin-right: 12px; }
}
.menu-item-download {
  &:before { content: 'get_app'; }
}
.menu-item-metro2 {
  &:before { content: 'map'; }
}

.switch-na, .switch-en {
  &:before { display: block; width: 22px; height: 18px; background: rgba(#000, .5); border-radius: 2px; line-height: 18px; text-align: center;
    font-size: 10px; font-weight: 500; margin: 3px 13px 3px 1px; color: #FFF;
  }
}
.switch-na { 
  .lang-ru .menu-dropdown li & { display: none; }
  .native-lang-ru &:before { content: 'RU'; }
}
.switch-na { 
  .lang-by .menu-dropdown li & { display: none; }
  .native-lang-by &:before { content: 'BY'; }
}
.switch-na { 
  .lang-da .menu-dropdown li & { display: none; }
  .native-lang-da &:before { content: 'DA'; }
}
.switch-en {
  .lang-en .menu-dropdown li & { display: none; }
  &:before { content: 'EN'; }
}

.footer-credits { position: absolute; right: 24px; bottom: 23px;
  .d-logo { display: block; width: 100px; height: 18px; background: url('../img/graphic.svg') 0 -18px no-repeat; background-size: auto 36px; }
  .hidden { display: none; }
}

.offline a.online { opacity: 0.5; pointer-events: none; } // disabled

#content { display: flex; flex-direction: column; min-height: 100vh; justify-content: center; align-items: center; position: relative; z-index: 10; }
#map-box { width: 100%; height: 100%;
  img { width: 100%; height: auto; max-width: 100%; }
  & > div { display: block !important; width: 100%; height: 100vh; }
}
.iv-snap-view { pointer-events: none; }

/* dropdown menu */

.menu-dropdown { display: none; padding: 8px 0; margin: 0; background: $color-bg; border-radius: 2px; position: absolute; list-style: none; text-align: left; width: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  li a { display: block; padding: 12px 16px; color: rgba(0,0,0,0.87);
    &:hover { background: #eeeeee; }
  }
}
